<?xml version="1.0"?>
<configuration>
    
        
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="configTextListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DEBUG.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
